.idea/
__pycache__/
__pycache__
.coverage
docs/build/
commit.py
ptmd/resources/.env.prod
venv*/

ptmd/clients/gdrive/credentials.txt
ptmd/clients/gdrive/client_secrets.json
/examples/
ptmd/resources/ptmd.db
ptmd/resources/credential.json
gdrive.yaml
credentials.json

.env
.env.prod
envv/*