.idea/
__pycache__/
__pycache__
.mypy_cache/
.coverage
docs/build/
commit.py
ptmd/resources/.env.prod
venv*/

ptmd/clients/gdrive/credentials.txt
ptmd/clients/gdrive/client_secrets.json
/examples/
ptmd/resources/ptmd_db.db
ptmd/resources/credential.json
gdrive.yaml
credentials.json

.env
.env.prod
envv/*
ptmd.db
scripts/